<!doctype html>
<html ng-app="RobinApp" ng-cloak>
<head>
	<title>Robin</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet/less" type="text/css" href="main.less"/>

	<!-- so that compiling less on the front end also doesn't cause FoUC -->
	<style>
		[ng-cloak] {
			display: none;
		}
	</style>
</head>

<body ng-controller="RobinController as robinCtrl">
	<div class="page">
		<p class="message-container" ng-class="{'bg-danger': robinCtrl.flashMessage.message.error, 'bg-info': !robinCtrl.flashMessage.message.error}" ng-show="robinCtrl.flashMessage.message.text">{{robinCtrl.flashMessage.message.text}}</p>

		<div ng-if="!robinCtrl.user.isLoggedIn">
			<form role="form" ng-show="robinCtrl.onLogin" name="loginForm" ng-submit="loginForm.$valid && robinCtrl.submitLogin(loginForm)">
				<h3>Login</h3>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username" ng-model="loginForm.username" required>
				</div>

				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" ng-model="loginForm.password" required>
				</div>

				<button type="submit" class="btn btn-default">Login</button>
			</form>

			<form role="form" ng-hide="robinCtrl.onLogin" name="signUpForm" ng-submit="signUpForm.$valid && robinCtrl.submitCreate(signUpForm)">
				<h3>Sign Up</h3>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username" ng-model="signUpForm.username" required>
				</div>

				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" ng-model="signUpForm.password" required>
				</div>

				<div class="form-group">
					<input type="email" class="form-control" placeholder="Email" ng-model="signUpForm.email" required>
				</div>

				<button type="submit" class="btn btn-default">Sign up</button>
			</form>

			<a class="pull-right" ng-hide="robinCtrl.onLogin" ng-click="robinCtrl.togglePage()">Show Login</a>
			<a class="pull-right" ng-show="robinCtrl.onLogin" ng-click="robinCtrl.togglePage()">Show Sign Up</a>
			<div class="clearfix"></div>
		</div>

		<div ng-if="robinCtrl.user.isLoggedIn" ng-controller="RobinListController as robinListCtrl">
			<div>
				<input type="text" ng-model="robinCtrl.robinsFilter" class="form-control" placeholder="Filter...">
				<p class="">Filtering for {{robinCtrl.robinsFilter}}</p>
			</div>

			<robin-form></robin-form>

			<ul class="list-unstyled robins">
				<p class="lead">Chirps</p>
				<li class="robin" ng-repeat="robin in robinListCtrl.robinsService.robins" ng-class="{read: robin.read}">
					<robin-chirp robin="robin" toggle-read="robinListCtrl.toggleRead(robin)"></robin-chirp>
				</li>
			</ul>
		</div>

		<div ng-if="robinCtrl.user.isLoggedIn">
			<button type="button" class="btn btn-default" ng-click="robinCtrl.logOut()">Log out!</button>
		</div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>
