<!doctype html>
<html ng-app="RobinApp" ng-cloak>
<head>
	<title>Robin</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet/less" type="text/css" href="main.less"/>

	<!-- so that compiling less on the front end also doesn't cause FoUC -->
	<style>
		[ng-cloak] {
			display: none;
		}
	</style>
</head>

<body ng-controller="RobinController as robinCtrl">
	<div class="page">
		<form role="form" ng-show="robinCtrl.onLogin" name="loginForm" ng-submit="loginForm.$valid && robinCtrl.submitForm()">
			<h3>Login</h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Username" ng-model="loginUsername" required>
			</div>

			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" ng-model="passwordUsername" required>
			</div>

			<button type="submit" class="btn btn-default">Login</button>
		</form>

		<form role="form" ng-hide="robinCtrl.onLogin" name="signUpForm" ng-submit="signUpForm.$valid && robinCtrl.submitForm()">
			<h3>Sign Up</h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Username" ng-model="username" required>
			</div>

			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" ng-model="password" required>
			</div>

			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email" ng-model="email" required>
			</div>

			<button type="submit" class="btn btn-default">Sign up</button>
		</form>

		<a class="pull-right" ng-hide="robinCtrl.onLogin" ng-click="robinCtrl.togglePage()">Show Login</a>
		<a class="pull-right" ng-show="robinCtrl.onLogin" ng-click="robinCtrl.togglePage()">Show Sign Up</a>
		<div class="clearfix"></div>

		<ul class="list-unstyled robins">
			<p class="lead">Robins</p>
			<li class="robin" ng-repeat="robin in robinCtrl.robins" ng-class="{read: robin.read}">
				<h5>{{robin.user}} says {{robin.message}}</h5>
				<button type="button" class="btn btn-default btn-xs" ng-hide="robin.read" ng-click="robinCtrl.toggleRead(robin)">
					<span>Mark as read</span>
					<!-- <span ng-show="robin.read">Mark as read</span> -->
				</button>
			</li>
		</ul>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>
