<p class="lead">Create a New Chirp!</p>
<form name="newRobin" role="form" ng-submit="newRobin.$valid && robinListCtrl.createNewRobin({
		message: newRobin.message, 
		image: newRobin.image, 
		link: newRobin.link
	}, newRobin)">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Message" ng-model="newRobin.message" required>
	</div>

	<div class="form-group">
		<input type="text" class="form-control" placeholder="Image" ng-model="newRobin.image">
	</div>

	<div class="form-group">
		<input type="text" class="form-control" placeholder="Link" ng-model="newRobin.link">
	</div>

	<button type="submit" class="btn btn-default pull-right">Create Chirp</button>
	<div class="clearfix"></div>
</form>
